<!-- Форма добавления комментария -->
{% load user_filters %}

{% if user.is_authenticated %}
<div class="card my-4">
    <form id="form_hide" style="display:none" method="post" action="{% url 'posts:add_comment' post.author.username post.id %}">
        {% csrf_token %}
        <h5 class="card-header">Добавить комментарий:</h5>
        <div class="card-body">
            <div class="form-group">
                {{ form.text|addclass:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
        </div>
    </form>
</div>
{% endif %}

<!-- Комментарии -->
{% for post in comments %}
<div class="media card mb-4">
    <div class="media-body card-body">
        <h5 class="mt-0">
            <a href="{% url 'posts:profile' post.author.username %}"
               name="comment_{{ post.id }}">
                @{{ post.author.username }}
            </a>
        </h5>
        <p>{{ post.text | linebreaksbr }}</p>
        <small class="text-muted">{{ post.created }}</small>
        {% if user == post.author %}
          <a class="btn btn-outline-primary btn-sm" onclick="return confirm('Вы действительно хотите удалить комментарий? Отменить это действие будет невозможно')" href="{% url 'posts:comment_delete' post.author.username post.id %}" role="button">
            Удалить комментарий
          </a>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>