<!-- Форма добавления комментария -->
{% load user_filters %}

{% if user.is_authenticated %}
<div class="card my-4 shadow">
    <form id="form_hide" style="display:none" method="post" action="{% url 'posts:add_comment' post.author.username post.id %}">
        {% csrf_token %}
        <h5 class="card-header">Добавить комментарий:</h5>
        <div class="card-body">
            <div class="form-group">
                {{ form.text|addclass:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
        </div>
    </form>
</div>
{% endif %}

<!-- Комментарии -->
{% for post in comments %}
<div class="media card mb-4 shadow">
    <div class="media-body card-body">
        <p>{{ post.text | linebreaksbr }}</p>
        <div class="text-muted">
            <a href="{% url 'posts:profile' post.author.username %}"
               name="comment_{{ post.id }}">
                @{{ post.author.username }}
            </a>
        <small class="text-muted"> - {{ post.created }}</small>
        </div>
    </div>
</div>
{% endfor %}
</div>