<div class="container sticky-top">
    <nav class="navbar navbar-light rounded-bottom" style="background-color: #e3f2fd;" >
        <div class="h6 text-muted"> 
            <a class="navbar-brand" href="{% url 'posts:index' %}"><span style="color:#FF1493">In</span>home</a>
        </div>    

        {% if user.is_authenticated %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </button>   
            <div class="dropdown-menu dropdown-menu-right">
                  <!-- <form class="search" method="get" action="{% url 'posts:search_results' %}">
                    <input class="form-control mr-sm-2" type="text" name="q" placeholder="Найти" />
                  </form>
                  <div class="dropdown-divider"></div> -->
                <a class="dropdown-item" href="{% url 'posts:profile' user.username %}">Моя страница</a>
                <a class="dropdown-item" href="{% url 'posts:new_post' %}">Новая запись</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'posts:profile_settings' %}">Изменить профиль</a>
                <a class="dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'posts:followers' user.username %}">Мои подписчики</a>
                <a class="dropdown-item" href="{% url 'posts:following' user.username %}">Мои подписки</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'posts:all_authors' %}">Все авторы</a>
                <a class="dropdown-item" href="{% url 'posts:all_groups' %}">Все группы</a> 
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
            </div>
          </div>
          {% else %}
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> |
            <a class="p-2 text-dark" href="{% url 'signup' %}">Регистрация</a>
        </nav>
          {% endif %}
    </nav>
    </div>
