<div class="card mb-3 mt-1 shadow">

    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "1200x700" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}" />
    {% endthumbnail %}
    <!-- Отображение текста поста -->
    <div class="card-body">
      <p class="card-text">
        <!-- Ссылка на автора через @ -->
        <a name="post_{{ post.id }}" href="{% url 'posts:profile' post.author.username %}">
          <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
        </a>
        {{ post.text|linebreaksbr }}
      </p>
  
      <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
      {% if post.group %}
      <p>
        <a class="card-link muted" href="{% url 'posts:group' post.group.slug %}">
          <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
        </a>
      </p>
      {% endif %}
  
      <!-- Отображение ссылки на комментарии -->
      
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <div>
          {% if post.comments.exists %}
          <a class="btn btn-outline-light btn-sm">
            Комментариев: <span class="badge badge-primary">{{ post.comments.count }}</span>
          </a>
          {% endif %}
          {% if not post_view %}
          <a class="btn btn-outline-primary btn-sm" href="{% url 'posts:post' post.author.username post.id %}" role="button">
            К посту
          </a>
          {% endif %}

          {% if add_comments and user.is_authenticated %}
          <button class="btn btn-outline-primary btn-sm" id="first" onclick="first();">
            Комментировать
          </button>
          <button class="btn btn-outline-primary btn-sm"; style="display:none" id="second" onclick="second();">
            Комментировать
          </button>
          {% include "includes/script_form.js" %}
          {% endif %}
  
          <!-- Ссылка на редактирование поста для автора -->
          {% if user == post.author %}
          <a class="btn btn-outline-primary btn-sm" href="{% url 'posts:post_edit' post.author.username post.id %}" role="button">
            Редактировать
          </a>
          <a class="btn btn-outline-danger btn-sm" onclick="return confirm('Вы действительно хотите удалить эту запись? Отменить это действие будет невозможно')" href="{% url 'posts:post_delete' post.author.username post.id %}" role="button">
            Удалить пост
          </a>
          {% endif %}
        </div>
      </div>
        <!-- Дата публикации поста -->
        <div class="text-muted">
          <small>{{ post.pub_date }}</small>
        </div>
      </div>
    </div>
  </div>