<div class="card mb-3 mt-1 shadow">

    <!-- Отображение картинки -->
    {% load thumbnail %}
    {% thumbnail post.image "1200x700" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}" />
    {% endthumbnail %}
    <!-- Отображение текста поста -->
    <div class="card-body">
      <p class="card-text">
        <!-- Ссылка на автора через @ -->
        <a name="post_{{ post.id }}" href="{% url 'posts:profile' post.author.username %}">
          <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
        </a>
        {{ post.text|linebreaksbr|urlize }}
      </p>
      
      <!-- Если пост относится к какому-нибудь сообществу, то отобразим ссылку на него через # -->
      {% if post.group %}
      <p>
        <a class="card-link muted" href="{% url 'posts:group' post.group.slug %}">
          <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
        </a>
      </p>
      {% endif %}
  
      <!-- Отображение ссылки на комментарии -->
      
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <div>
            <a class="badge badge-pill badge-danger"  href="{% url 'posts:likes' post.author.username post.id %}" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg> <span> {{ post.likes.count}}  </span>
                <!-- Возвращение прокрутки на исходное место -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function (event) {
                                            var scrollpos = localStorage.getItem('scrollpos');
                                            if (scrollpos) window.scrollTo(0, scrollpos);
                                        });
                                        window.onbeforeunload = function (e) {
                                            localStorage.setItem('scrollpos', window.scrollY);
                                        };
                                    </script> </a> 
          {% if post.comments.exists %}
          <a class="btn btn-outline-light btn-sm">
            Комментариев: <span class="badge badge-primary">{{ post.comments.count }}</span>
          </a>
          {% endif %}
          {% if not post_view %}
          <a class="btn btn-outline-primary btn-sm" href="{% url 'posts:post' post.author.username post.id %}" role="button">
            К посту
          </a>
          {% endif %}

          {% if add_comments and user.is_authenticated %}
          <button class="btn btn-outline-primary btn-sm" id="first" onclick="first();">
            Комментировать
          </button>
          <button class="btn btn-outline-primary btn-sm"; style="display:none" id="second" onclick="second();">
            Комментировать
          </button>
          {% include "includes/script_form.js" %}
          {% endif %}
  
          <!-- Ссылка на редактирование поста для автора -->
          {% if user == post.author %}
          <a class="btn btn-outline-primary btn-sm" href="{% url 'posts:post_edit' post.author.username post.id %}" role="button">
            Редактировать
          </a>
          <a class="btn btn-outline-danger btn-sm" onclick="return confirm('Вы действительно хотите удалить эту запись? Отменить это действие будет невозможно')" href="{% url 'posts:post_delete' post.author.username post.id %}" role="button">
            Удалить пост
          </a>
          {% endif %}
        </div>
      </div>
        <!-- Дата публикации поста -->
        <div class="text-muted">
          <small>{{ post.pub_date }}</small>
        </div>
      </div>
    </div>
  </div>