{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %}Записи сообщества {{ group.title }}{% endblock %}


{% block content %}
<h1>{{ group.title }}</h1>
  <p>{{ group.description }}</p>
   <div class="container">
                {% for post in page %}

                    {% include "includes/post_item.html" with post=post %}
                {% endfor %}
    </div>

        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator %}
        {% endif %}
{% endblock %}
