{% extends "base.html" %}
{% block title %}Новости{% endblock %}
{% block header %}{% endblock %}

{% block content %}

        {% include "includes/menu.html" with index=True %}

        <h1> Последние обновления на сайте</h1>
                {% load cache %}
                {% cache 1 sidebar page %}
                    {% for post in page %}
                        {% include "includes/post_item.html" with post=post %}
                    {% endfor %}
                {% endcache %}
        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator %}
        {% endif %}

{% endblock %}