{% extends "base.html" %}
{% block title %}{{ author.get_full_name }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% load user_filters %}


<main role="main" class="container">
    <div class="row">
        
                {% include 'includes/card_author.html' with post=post %}
                 
                <div class="col-md-9">
                {% if page %}
                    {% for post in page %}
                    {% include "includes/post_item.html" with post=post %}
                    {% endfor %}
                {% else %}
                    <br>
                    <h4>У автора нет постов</h4>
                {% endif %}
            
                {% if page.has_other_pages %}
                    {% include "includes/paginator.html" with items=page paginator=paginator %}
                {% endif %}
                </div>
    </div>
</main>

{% endblock %}